/* chat/static/chat/style.css */
body,
html {
    height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f5f5f5;
}

.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #f5f5dc, #d2b48c);
}

.chat-box {
    width: 100%;
    max-width: 600px;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#chat-content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    /* max-width: 75%; */
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.4;
}

.user-message {
    background-color: #007aff;
    color: white;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
}

.bot-message {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start;
}

.user-message, .bot-message {
    width: fit-content;
    max-width: 75%;
    min-width: 0%;
}

.input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

#send-button {
    background-color: #007aff;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

/* #last-chat-button {
    background-color: #e5e5ea;
    border: none;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
} */

img#back-button {
    border: none;
    color: black;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
}